.body{
    background-color:#f5f7fa;
    font-weight: bolder;
}

.dashboard-text{
    padding-left: 30px;
    padding-bottom:1px ;
    color:#17375e;
}

.dashboard-title{
    padding-left: 30px;
    padding-bottom:10px ;
    color:#17375e;
}
.card{
    /* padding-left:0px; */
}

.stats-container{
    padding-left:10px;
    padding-right:10px;
}
.individual-card{
    padding-bottom: 10px;
    
}
.individual-card3{
    padding-bottom: 10px;
    background-color: ;
    width: 110px;
    height: 700px;
    overflow: auto;   
}

.individual-card2{
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    /* margin:0px 1px 0px 1px; */
}
.table-extra{
    color:black;
}
table, th, td {
    color:#fff;
    border: 1px solid #ebf4ff;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: left;    
  }

.confirmed{
    background-color: yellow;
}
.death{
    background-color: red;
}
.discharged{
    background-color: yellowgreen;
}

.contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.mine{
    background-color: #4c51bf;
    padding: 10px 30px;
  /* background: red; */
  border: none;
  border-radius: 0 100px 100px 0;
}
.second-section{
    /* padding:10px 10px 0px 10px; */
}



#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.btn{
    float: left;    
}

.btn2{
    float: right;    
}


.information-individual-card{
    padding-top: 0px;
    
}


.number-div{
    text-align: center;
    border-color: #fbd38d;
}

.pillbutton{
    background-color: rgb(155, 152, 152);
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #5a67d8;
}

.start-button{
    color:white;
}