.modal-wrapper{
     width:100vw;
    height:100vh;

    z-index:20;
    display:inline-flex;
    /* 
    justify-content:center;
    align-items:center; */
    background-color:rgba(0 ,0 ,0 , 0.4);

    /* z-index:100; */
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    /* right:0; */
}


.close-form{
    /* display:inline-flex;
    justify-content:center;
    align-items:center;  */
    /* z-index:100; */
    position: absolute;
    /* top:0;
    right:0;
    left:0;
    right:0; */
    float: right;
    text-align: right;
    font-size: 150%;
    color: red;
    margin-top: -40px;
    
}

form {
    overflow-y: scroll;
    background: #fff;
    border:1px solid rgba(10,248,7,0.5);
    border-radius:3px;
    /* width:500px;*/
    padding:30px;
    /* box-sizing:0 0 10px rgba(10,248,7,0.5); */
    z-index:20;
    box-shadow:0 0 10px rgba(10,248,7,0.5);
    /* margin:30px 280px 30px ; */
    text-align: center;
    position: relative;
    /* transform: translate(-50%, -50%); */

    top: 50%;
    left:25%;
    margin-top: -230px;
    margin-bottom: 1px;
    height: 450px;
    width: 50%;


}






.title-button{
    
    padding: .25rem 1rem;
    border-radius: .25rem;
    margin: .25rem .25rem .5rem;
    background-color: #edf2f7;
    color: #000;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    cursor: pointer;
}



.case-reporter .modal .form-field[data-v-2d7880ea] {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    padding-top: .25rem;
}

.case-reporter .modal .form-field[data-v-2d7880ea] {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    padding-top: .25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}


.text-2xl {
    font-size: 1.5rem;
}
.text-white {
    color: #fff;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.bg-purple-800 {
    background-color: #553c9a;
}
[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role="button"], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
    padding: 0;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
* {
    transition: all .3s ease-in;
}
*, ::after, ::before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}


.case-reporter .modal .form-field[data-v-2d7880ea] {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    padding-top: .25rem;
}
.justify-end {
    justify-content: flex-end;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
* {
    transition: all .3s ease-in;
}

.case-reporter .modal[data-v-2d7880ea] {
    margin-left: auto;
    margin-right: auto;
    max-width: 36rem;
    margin-top: 1.5rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
}
.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }

.form-wrapper{
    width:100vw;
    height:100vw;
    background-color:rgba(0,0,0, .4);
    display:inline-flex;
    justify-content:center;
    align-items:center;
    z-index:20;
    position:fixed;
    top:0;
    right:0;
    left:0;
}

.theform {
    margin-top:-100px;
    background: #fff;
    border:1px solid rgba(10,248,7,0.5);
    border-radius:3px;
    width:500px;
    padding:30px;
    z-index:20;
    box-shadow:0 0 10px rgba(10,248,7,0.5);
}

