.navbar-custom {
    background-color: rgba(255,255,255,.5);
}/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #888;
}/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:#0000 ;
}/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}

.link-color{
    columns: #000080;
}